                            
body {
    background-color: lightblue;
  }
  
  #heading {
    color: cornsilk;
    text-align: center;
  }
  
  .paragraph {
    font-family: verdana;
    font-size: 20px;
  }
               